.productCard .textpart  {
    transition: transform .3s ease-out;
}

.productCard:hover .textpart {
    transform: translateY(-1rem);

}
.carousel-container {
    background-color: red; /* Just for debugging */
}
